.container {
    width: calc((100% / 3 - 30px));
    min-width: 250px;
    border: 1px solid var(--destaque);
    box-sizing: border-box;
    border-radius: 10px;
    flex: 1 2 auto;
    opacity: .7;
    color: var(--preto);
    padding-bottom: 20px;
}

.imagem {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.subcontainer {
    height: 230px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px
}


.categoria {
    color: var(--destaque);
    padding: 1em 0;
}

.descricao {
    line-height: 1.5em;
}


.preco {
    font-weight: bold;
    text-align: end;
}

/* Hover */
.container:hover {
    background-color: var(--branco);
    opacity: 1;
}