.botao {
    width: 150px;
    padding: 1em;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}

.imagem {
    width: 20px;
    height: auto;
}

.botao:hover {
    background-color: var(--destaque);
}