.botao {
    width: 150px;
    padding: 10px 0;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}

.destacado {
    background-color: var(--destaque);
}

.imagem {
    width: 20px;
    height: auto;
}

/* Hover, etc */

.botao:hover,
.botao:focus {
    background-color: var(--destaque);
}

/* Medias */
@media screen and (max-width: 320px) {
    .botao {
        width: 80%;
    }
}