* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-poppins);
}

:root {
  --fonte-dancing: "Dancing Script", cursive;
  --fonte-poppins: 'Poppins', sans-serif;
}

.limitar-tela {
  max-width: 1024px;
  margin: 0 auto;
}

.App {
  min-width: 280px;
  background-color: var(--fundo);
}

/* Temas */

.light {
  --destaque: #daa520;
  --branco: #fff;
  --cinza: #f3f3f3;
  --preto: #000000;
  --fundo: #fff;
}

.dark {
  --destaque: #daa520;
  --branco: #fff;
  --cinza: #f3f3f3;
  --preto: #000000;
  --fundo: #252525;
}