* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-poppins);
}

:root {
  --fonte-dancing: "Dancing Script", cursive;
  --fonte-poppins: 'Poppins', sans-serif;
}

.limitar-tela {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  min-width: 280px;
  background-color: var(--fundo);
}

/* Teste */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */