* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-dancing: "Dancing Script", cursive;
  --fonte-poppins: 'Poppins', sans-serif;
  --destaque: #daa520;
  --branco: #fff;
  --cinza: #f3f0f0;
  --preto: #000000;
}

.limitar-tela {
  max-width: 1024px;
  margin: 0 auto;
}